<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title><%= title %></title>
</head>
<body class="w-screen h-fit min-h-screen flex flex-col gap-3 p-5 items-center justify-start bg-slate-700 font-jetbrains">
    <div class="w-[40rem] max-lg:w-[40rem] max-md:w-2/3 max-sm:w-full h-fit p-5 rounded-lg border-2 border-transparent bg-slate-800 hover:border-red-400 ease-in duration-200 flex flex-row items-center justify-center">
        <span class="w-fit h-fit flex flex-col gap-4 text-center">
            <p class="text-3xl text-white font-bold">Sorry, You are not allowed here</p>
            <p class="text-slate-200">
                This is a private website. <b class="text-white">We don't recognize you.</b> Only authorized individuals are permitted to access its  contents. If you are not explicitly invited, you do not have permission to view or use this site. Unauthorized access is prohibited and may be monitored.
            </p>
        </span>
    </div>
</body>
</html>